// Estilos Lesscss

@naranja-claro : #FF9933;
@naranja-fuerte : #FF6600;
@gris : #BDC3C7;
@fontt :  #393939;
@azul : #00ade7;
@_azul : rgba(0, 102, 255, 0.9);

@-webkit-keyframes pop-in {    
	0% { opacity: 0; -webkit-transform: scale3d(0.5,0.5,0); }
	100% { opacity: 1; -webkit-transform: scale(1,1,0); }
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
  to {
    opacity: 1;
  }
}

.btn-send{
	margin-left: 5px;
font-size: 21px;
text-decoration: none;
color: #575757 !important;
}

button{
	background:none;
	border:none;
    outline:none;
	boxshadow:none;
	margin: 0;
padding: 0;

	&:focus{
	outline:none;
	boxshadow:none;
	}
}

.left{
	float:left;
}

body{
	
	color: @fontt;
	overflow:hidden;
	 
}

.center{
	 display:table;
	 margin:0 auto;
}

.padded-m{
	 padding:7px 0;
}

header{
	 width:100%;
	 display:block;
	 position:fixed;
	 top:0;
	 left:0;
	 z-index:2;

	 h1{
	  text-align:center;
	  display:none;
	 }
}

.primary-top-bar{
	 background: @naranja-claro;
	 .padded-m;
}

.secondary-top-bar{ background: @naranja-fuerte; .padded-m; *{color:white;background:none} button{border:none} select{border-radius: 5px;
padding: 5px;
background: #fdac4f;
color: #575757;
border: none;
outline:none;
width: 60%;
}
}

.wraper{
	   width:90%;
	   max-width:620px;
	   min-width:320px;
	   .center;
}


.app-content{
	position: absolute;
z-index: 0;
width: 100%;
max-height: 82%;
overflow: auto;
margin-top: 8px;
-webkit-overflow-scrolling: touch;
}

footer{
	  position:absolute;
	  padding:7px 0;
	  width:100%;
	  bottom:0;
	  left:0;
	  -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
    transform:translate3d(0);

	  background: @_azul !important;
&.noatuo{
	  		position:fixed !important;

	  }
	  *{background:none}

	  .msg-wrap
	  {	  
    padding: 7px;
    background: white;
	  }

.tuit{
	  
	  textarea#tuit{ 
	  width: 87%;
margin: 0 auto;
border: none;
color: #383838;
outline: none;
resize: none;
height: 16px;
box-shadow: none !important;
-webkit-box-shadow: none !important;
-webkit-appearance: none !important;	
 overflow: hidden;

	  }

	 
}


} 


.lats20{

   li{
    padding:10px 0;
    -webkit-animation: pop-in 0.35s;
    list-style-position: inside;
   }
	  table td{
	   padding:7px;
	     button{
	color: #999;
font-size: 39px;
text-align: center;
  	
  	   i{
  	       line-height:1.5;
	     }
  	   }
	  }
}