<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id      = "com.olimpicapp.mobile"
    versionCode = "10"
    version     = "1.0">



    <name>Olimpica St.</name>

    <description>
    Aplicación móvil de Olimpica Stereo. Escucha transmisiones en vivo, envía mensajes a los locutores, escucha todas las canciones del Top 20 de las 20 latinas. 
    </description>

    <author href="http://gomosoft.com" email="info@gomosoft.com">
        Gomosöft
    </author>

    <access origin="*" />
    <access origin="*.gomosoft.com" />
    <access origin="http://gomosoft.com" />
    <access origin="*.google.com"/>
    <access origin="*.googleapis.com"/>

    <content src="index.html" />

    <preference name="DisallowOverscroll" value="true" />

    <preference name="target-device" value="universal" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="phonegap-version" value="3.5.0" />
    <preference name="orientation" value="portrait" />
    <preference name="DisallowOverscroll" value="true"/>


    <platform name="android">              
              <icon src="icon_96.png" width="96" height="96" />
              <icon src="icon_72.png" width="72" height="72" />
              <icon src="icon_48.png" width="48" height="48" />
              <icon src="icon_36.png" width="36" height="36" />
     </platform>

<gap:plugin name="org.li8.inappbrowser" version="0.1" />
<gap:plugin name="de.appplant.cordova.plugin.background-mode" version="0.5.0" />
<gap:plugin name="nl.x-services.plugins.socialsharing" />

<feature name="http://api.phonegap.com/1.0/network"/>
<feature name="http://api.phonegap.com/1.0/notification"/>
<feature name="http://api.phonegap.com/1.0/media"/>
<feature name="http://api.phonegap.com/1.0/geolocation"/>
<feature name="SocialSharing">
  <param name="android-package" value="nl.xservices.plugins.SocialSharing" />
</feature>

</widget>