<!DOCTYPE html>
<html class="no-js" ng-app="olimpicapp">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
        <meta http-equiv="cleartype" content="on">

        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/touch/apple-touch-icon-144x144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/touch/apple-touch-icon-114x114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/touch/apple-touch-icon-72x72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="img/touch/apple-touch-icon-57x57-precomposed.png">
        <link rel="shortcut icon" sizes="196x196" href="img/touch/touch-icon-196x196.png">
        <link rel="shortcut icon" href="img/touch/apple-touch-icon.png">
        <link rel="shortcut icon" href="http://olimpicastereo.com.co/wp-pics/themes/olimpica/img/icn/favicon.ico">
        <!-- Tile icon for Win8 (144x144 + tile color) -->
        <meta name="msapplication-TileImage" content="img/touch/apple-touch-icon-144x144-precomposed.png">
        <meta name="msapplication-TileColor" content="#222222">

        
        <link rel="canonical" href="http://www.example.com/" >
        

        <!-- Add to homescreen for Chrome on Android -->
        <!--
        <meta name="mobile-web-app-capable" content="yes">
        -->

        <!-- For iOS web apps. Delete if not needed. https://github.com/h5bp/mobile-boilerplate/issues/94 -->
        <!--
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="">
        -->

        <!-- This script prevents links from opening in Mobile Safari. https://gist.github.com/1042026 -->
        <!--
        <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>
        -->

        <link rel="stylesheet" href="css/normalize.css">        
        <link rel="stylesheet/less" href="less/main.less">
        <link rel="stylesheet/less" href="icons/style.css">
        <script src="js/vendor/modernizr-2.7.1.min.js"></script>
        <script src="js/less.js"></script>
    </head>
    <body>

       <div id="main-container">
         <header>
            <div class="primary-top-bar"> 
            <div class="wraper">         
            <h1>Olimpica Stereo</h1>
            <img class="center" width="128" src="http://olimpicastereo.com.co/wp-pics/themes/olimpica/img/icn/logo.png" alt="Olimpica Stereo">
            </div>
            </div>

            <div class="secondary-top-bar">
            <table class="wraper">
               <tr>
               <td ng-controller="20Latinas" style="width: 90px">
                <button ng-click="play('emi')" class="left" style="font-size:25px"><i class="icon-play2"></i></button>         
                <button ng-click="pause()" class="left" style="font-size:25px; margin-left:10px"><i class="icon-pause"></i></button>                
                </td>
                <td style="center" ng-controller="emisoras">  
                   <span ng-model="frec" style="float: left;margin-top: 5px;">{{frec}} <img src="http://olimpicastereo.com.co/wp-pics/themes/olimpica/img/icn/sound_colorWhite.png" alt="" ></span>                             
                    <select class="center" ng-change="play()"  ng-model="emisoraSel" 
                    ng-options="emisora as emisora.ciudad for emisora in emisoras" >
                        <option value="">&nbsp;Estaciones</option>
                    </select>
                </td>

                <td>
                 <a  href="#" id="tel" style="font-size: 22px;text-decoration: none;" data-tweet><i class="icon-phone"></i></a>
                </td>
        
                </tr>
            </table>
            </div>
  
         </header>
<br>
<br>
<br>
<br>
<br>
<br>

         <section class="app-content " >


         <div ng-controller="20Latinas" class="wraper">
         <h2 style="text-align: center;">Las 20 Latinas</h2>

               <ol class="lats20" >
                   
                    <li ng-model="Lats20" ng-repeat="tema in Lats20">
                       <table>
                          <td>
                              <img width="105" src="{{tema.img}}" alt="img">
                          </td>
                          <td>

                          <div>
                          {{tema.nombre}} <br> <b>{{tema.artista}}</b>
                          </div>
                          <button ng-click="play(tema.src)" ><i class="icon-play2"></i></button>                                      &nbsp;&nbsp;&nbsp;              
                          <button  ng-click="share(tema.nombre, tema.artista, tema.img)" style="font-size:29px" ><i class="icon-share"></i></button>                                                    
                          </td>
                       </table>
                    </li>
               </ol>
         </div>
         <br>
<br>
<br>
<span class="wraper " style="text-align:center">Gomosöft</span>
<br>
<br>
<br>
<br>
         </section>
         <br>




         <footer>

               <table class="wraper">
                   <tr>
                       <td class="msg-wrap" ng-controller="twitter">
                           <div class="tuit ">
               <textarea placeholder="Dile algo al locutor." ng-model="tuit" id="tuit" onkeyup="autoGrow(this)"></textarea> 
               <a href="" class="btn-send" ng-click="doTuit()"><i class="icon-arrow-right3"></i></a>
               </div>
                       </td>
                   </tr>
               </table>

         </footer>    
       </div>
<video id="player" src="" style="display:none" ></video>

        <script src="js/angular.min.js"></script>
        <script src="js/fastclick.js"></script>
        <script src="js/helper.js"></script>
        <script src="js/vendor/jquery-2.1.0.min.js"></script>        
        <script src="cordova.js" ></script>      
        <script src="js/main.js"></script>


    </body>
</html>
